.idea
__pycache__
config
result.png
upload.png

reference_gan/colorization_gan4/models/
reference_gan/__pycache__/


danboo/.idea/
danboo/ap_ois_ods/.idea/
danboo/__pycache__/
danboo/DanbooRegion2020/test/Danboo/*.png
danboo/DanbooRegion2020/train/*.png
danboo/DanbooRegion2020/val/*.png
danboo/results/*.jpg
!.gitignore

myvenv/